@{
  Layout = "_Layout";
} 
@using HairSalon.Models;

<h1>Stylists</h1>

@if (Model.Count == 0)
{
  <h3>No stylists have been added yet!</h3>
}

<table class="table table-hover">
    <tbody>
  @foreach(Stylist stylist in Model)
  {
    <tr class="table-active">
      <td>
      @Html.ActionLink($"{stylist.Name}", "Details", new {id = stylist.StylistId})
      </td>
    </tr>
  }
    </tbody>
</table>
@Html.ActionLink("Add New Stylist", "Create", new { area = "" }, new { @class = "btn btn-secondary"  }) 
@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "btn btn-secondary"  })